{% extends 'CollectAll/base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    <h1>About Us</h1>
    <p>.</p>
    <p>CollectAll is a website created by 4 college students who are learning web development.
        We chose to do a collections site because we thought it would be a neat idea for us to be able to
        show off our collection on our site and we also thought this would fit the scope for our required group project. </p>
    <p></p>
</body>
</html>
{% endblock content %}